// Pages

.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: darken($complimentary-color, 35%)
}

.post-link {
    display: block;
    font-size: 24px;
}

// Posts

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
}

.post-content {
    margin-bottom: $spacing-unit;
}

// Footer
#footer {
  background-color: $footer-color;
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -$footer-height; 
}
.wrap:after {
  content: "";
  display: block;
}
.site-footer, .wrap:after {
  height: $footer-height; 
}
.site-footer {
  background: $footer-color;
}

// Navbar
.navbar {
  background-color: $navbar-color;
}

@media screen and (max-width: 768px) {
  .navbar {
    background-color: $navbar-color;
    display: inline;
  }
  
.socials {
  height: auto;
  > li a:hover {
   color: $primary-color !important; 
  }
}
}

.socials {
display: block;
padding: 13px 22px;
margin-bottom: 0px;
border-color: #aaa;
font-family: "Open Sans", Helvetica, Arial, sans-serif;
font-size: 13px;
font-weight: 700;
color: #aaa;
text-transform: uppercase;
text-decoration: none;
text-align: right;
list-style-type: none;

  > li a{
   color: $secondary-color;
   text-decoration: none;
  }
  
  > li a:hover {
   color: $complimentary-color; 
  }
}
